table, th, td {
    font-family: arial, sans-serif;
    border: 1px solid black;
    width: 35%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 4px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .td{
      padding: 5%;
  }